@font-face {
  font-family: 'HeaderFont';
  src: url(./font/arbutus-slab/arbutusslab-regular.ttf);
  font-weight: 600;
  font-style: normal;
}

.resNameBanner {
  font-size: 60pt; 
  color: #120; 
  display: flex; 
  justify-content: center; 
  flex-direction: column; 
  align-items: center;
  padding-top: 15px;
}

.sepDiv { 
  border-top: 2px solid #121212; 
  margin-top: 60px;
  margin-bottom: 20px;
}

.topSelectBar {
  height: 175px; 
  /* border: 2px solid #000;  */
  display: flex; 
  justify-content: center; 
  gap: 20px
}

.topSelectBar > img {
  max-width: 20%;
  border: 3px solid #fff;
  border-radius: 15px;
}

.midImgFood {
  margin-top: -250px;
  padding: 0px 50px;
  padding-top: 150px;

  display: flex;
  justify-content: center;
  background-image: url('/src/img/bg-101.jpg');
  background-size:cover;
  background-position: 100%;
  border: 2px solid #fff;
  border-radius: 10px;
}

.midImgFood > * {
  font-size: 15pt;
  font-weight: bold;
  color: #000;
}

.midImgFood > p {
  padding: 20px;
}

.layOver {
  padding-top: 50px;
}

.buttonHolder {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5%;
  justify-content: space-evenly;
}

.buttonIcon {
  border: 4px solid #994433;
  opacity: .3;
  border-radius: 5px;
  width: 150px;
  height: 150px;
}

.buttonIcon:hover {
  opacity: 1;
}


